@use 'sass:color';
@import 'variables';

div.d-flex {
  color: $primary;
  font-size: $font-size-base * 0.8;
  font-weight: bold;

  div {
    background-color: $light;
    border-left: 0.1rem solid $primary;
    border-top: 0.1rem solid $primary;
    border-bottom: 0.1rem solid $primary;
    min-width: 100%;
    min-width: 5rem;

    &.emph {
      background-color: $primary;
      border-left: 0.1rem solid $primary;
      color: $light;
    }
  }
}
