@import 'variables';

input {
  border-color: $primary;
  border-width: 0.15rem;
  border-radius: 0.25rem;
  min-height: 0;

  &[readonly] {
    border-color: transparent;
    background-color: transparent;
  }

  &:focus {
    box-shadow: none;
  }
}
