<ng-template
  #accountListTmpl
  let-matches="matches"
  let-query="query"
  let-typeaheadTemplateMethods
>
  <ng-template
    ngFor
    let-match
    let-i="index"
    [ngForOf]="matches"
  >
    <p
      *ngIf="match.isHeader()"
      class="dropdown-header py-0 px-2"
    >{{match | translate}}</p>
    <ng-template [ngIf]="!match.isHeader()">
      <button
        #liElements
        class="dropdown-item py-0"
        (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
        (mouseenter)="typeaheadTemplateMethods.selectActive(match)"
        [class.active]="typeaheadTemplateMethods.isActive(match)"
      >
        {{match.item.name}}
      </button>
    </ng-template>
  </ng-template>
</ng-template>
<input
  #typehead
  container="body"
  class="form-control form-control-sm text-truncate py-0"
  [readonly]="readonly"
  [placeholder]="!readonly ? ('MODELS.ACCOUNT' | translate | lowercase) : ''"
  [ngModel]="transaction?.accountName"
  typeaheadOptionField="name"
  typeaheadGroupField="accountTypeName"
  [optionsListTemplate]="accountListTmpl"
  [typeahead]="accounts"
  [typeaheadScrollable]="true"
  (typeaheadOnSelect)="onAccountChange($event.item)"
  (typeaheadOnPreview)="_preview = $event?.item.category"
  (blur)="onBlur()"
>
