settings.yml

accounts.json
expenses.json
inflows.json
pnl.json

preprocessors.yml
postprocessors.yml
extractors_meta.yml
extractors_recipients.yml
extractors_tags.yml

mergers.yml

parser_fi_transactions.yml
